


.education-frame {
    display: flex;
    background-color: lightskyblue;
}
 input{
    padding: 5px;
    border-radius: 5px;
    border: .5px solid gray;
 }

 input:hover{
    background-color: #e1f8ff;
 }

