

input:hover, textarea:hover{
    background-color:rgb(214, 233, 248);
}

input{
    border: none;
    box-shadow: 1px 1px 1px gray;
    height: 1.2rem;
}

label{
    font-weight: bold;
}


.input-div{
    display: block;
}

.user-details{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0;
}

.idx{
    width: 0px;
    visibility: hidden;
}
