.experience-frame {
    display: flex;
   
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: lightgreen;
}

input:hover, textarea:hover{
    background-color:lightpink;
}

.input-div{
    display: block;
}

.user-details{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0;
}