.general-information{
    background-color:lightyellow;
    display: flex;
    justify-content: space-between;
    padding: 0;
    
   
}

.user-details{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.name-div{
    display: flex;
    align-items: baseline;
   
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
}

label{
    padding: .2rem .4rem;
}

.details-input-div{
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    align-items: center;
}

h2, h3{
    margin: 0;
}

.user-name{
    font-size: 1.6rem;
}

p{
    display: flex;
    padding: 0 1rem;
    align-items: center;
    
    margin: 0;
    
}

.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}