#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

} 




button{
  background-color: cornflowerblue;
  box-shadow: 2px 2px 2px;
  margin: .2rem 0;

}

button:active{
  transform:translate(1px, 1px);
  outline: none;
}

.button-container{
  display: flex;
  justify-content: space-around;
}

.submit-button{
  background-color:rgb(237, 162, 100);
}

.submit-button:hover{
  background-color: cornflowerblue;
  color: white;
}

 input{
    padding: 5px;
    border-radius: 5px;
     border: none;
    box-shadow: 1px 1px 1px gray;
    height: 1.2rem;
 }

 input:hover, textarea:hover{
    background-color:rgb(214, 233, 248);
}

.details-input-div{
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    align-items: baseline;
    margin-top: .3rem;
}

h2, h3{
    margin: 0;
   
    
}

label{
    font-weight: bold;
    padding: .2rem .4rem;
}


.document-header>*{
  text-align: left;
  padding: 0;
  margin-bottom: .2rem;
}

.document-header>p{
  font-size:1.2rem;
}

.contact-details{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
 
  
  
}

.user-details{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}


.general-details{
  display: flex;
  justify-content: space-between;

}

.general-details>*{
  padding: 0 1rem;
}

.user-name{
    font-size: 1.6rem;
}

.email{
    margin-bottom: 0;
}

.phone{
    margin-top: 0;
}

.card {
  padding: 2em;
}


.cv-subheader{
  color:royalblue;
 
}


.read-the-docs {
  color: #888;
}

.info-row {
  
   display: flex;
   flex-direction: column;
   margin: .5rem 0 .5rem 0;
    /* line-height: 0; */
    
    /* height: 2rem; */
    

    /* align-items: center; */
    /* justify-content: flex-start; */
    /* background-color: lightskyblue; */
}


.info-cell{
  display: flex;
 
 
  padding: 0;
  padding-left: 1rem;
  
  border: none;
  align-items: baseline;

}

.info-cell>*{
  padding: 0;
  margin: 0 .5rem 0 0;
}


.info-cell>h4, .info-cell>h5, .info-cell>p{
  
  /* line-height: 0; */
  align-self: center;

  
}

.info-cell>p{
  font-style: italic;
}

.inputs{
 
    justify-content: space-between;
    align-items: center;
}


.button-container{
display:flex;
flex-direction: column;
}


.data{
  background-color:aliceblue;
  padding: 1.5rem .5rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;;
}

@media (min-width: 1190px){
  .inputs{
    display:flex;
  }

}

.general-input{
    border: none;
    padding: 1rem .1rem 1rem .5rem;
    font-size: 1.2rem;
    outline: none;
    width: 15rem;
    background-color: white !important;
    background: none;
    margin-left: 1rem;
}

.general-input:invalid{
    background-color: rgb(248, 205, 205);
}

.general-details-label{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.general-data{
  background-color:rgb(237, 162, 100);
  padding: 1rem;
  box-shadow: 2px 2px 2px gray;
  border-radius: .5rem;
}


.general-input:webkit-autofill,
.general-input:webkit-autofill:hover,
    .general-input:webkit-autofill:focus{
    background-color: white !important;
}



.delete-button{
 border: none;

   box-shadow: none;
  padding:.01rem;
  height: 1.6rem;
  background-color: rgb(255, 255, 255, 0.01) ;

  
}


.delete-button:hover{
  background-color: white;
    box-shadow: 1px 1px 4px gray;
}

.delete-button-div{
  /* display: flex; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  margin:.2rem 1rem;

}


.experience-frame, .education-frame {
    display: flex;
    flex-direction: column;
   
    /* align-items: center; */
    justify-content: space-evenly;
  
}

.experience-frame .inputs:nth-child(odd){
  background-color: skyblue;
}
 .experience-frame .inputs:nth-child(even){
  background-color: rgb(212, 230, 238);
  
}

.education-frame .inputs:nth-child(odd){
  background-color: #9ff59f
}
 .education-frame .inputs:nth-child(even){
  background-color: #dbfcdb
  
}



.hidden{
  visibility: hidden;
  display: none;
}

.finsihed-inputs{
  display: flex;
}


.cv-header{
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
}

.edit-section-header>h3{
  background-color:lightsalmon
}


.submit-button-container{
  background-color: rgb(248, 204, 168);
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px;
}

.submit-print{
   background-color:green;
   color: white;
   box-shadow: 2px 2px 2px gray;
}

.back-edit, .final-edit{
  margin:0;
  padding: 0;
  background-color: none;
}

.final-edit{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.input-div{
    display: block;
}

.user-details{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0;
}

.idx{
    width: 0px;
    visibility: hidden;
}
