#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


button{
  background-color: cornflowerblue;
  box-shadow: 2px 2px 2px;

}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.info-row {
  width: 100%;
    display: flex;

    /* align-items: center; */
    justify-content: space-between;
    background-color: lightskyblue;
}

.info-cell{
  display: flex;
  background-color: lightskyblue;
  width: 33%;
  justify-items: flex-start;
  padding-left: 1rem;
  
}