#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px gray solid;
}




button{
  background-color: cornflowerblue;
  box-shadow: 2px 2px 2px;

}

button:active{
  transform:translate(1px, 1px);
  outline: none;
}

.document-header>*{
  text-align: left;
  padding: 0;
  margin-bottom: .2rem;
}

.document-header>p{
  font-size:1.2rem;
}

.contact-details{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
  
  
}



.general-details{
  display: flex;
  justify-content: space-between;

}

.general-details>*{
  padding: 0 1rem;
}

.card {
  padding: 2em;
}


.cv-subheader{
  color:royalblue;
}


.read-the-docs {
  color: #888;
}

.info-row {
  
   display: flex;
   flex-direction: column;
   margin: .5rem 0 .5rem 0;
    /* line-height: 0; */
    
    /* height: 2rem; */
    

    /* align-items: center; */
    /* justify-content: flex-start; */
    /* background-color: lightskyblue; */
}


.info-cell{
  display: flex;
 
 
  padding: 0;
  padding-left: 1rem;
  
  border: none;
  align-items: baseline;

}

.info-cell>*{
  padding: 0;
  margin: 0 .5rem 0 0;
}


.info-cell>h4, .info-cell>h5, .info-cell>p{
  
  /* line-height: 0; */
  align-self: center;

  
}

.info-cell>p{
  font-style: italic;
}



.delete-button{
 border: none;
  box-shadow: 1px 1px 4px gray;
  padding:.01rem;
  height: 1.6rem;
  background-color: none !important;
}



.delete-button:nth-child(even)>{

  color: white;
  border: none;
  box-shadow: 1px 1px 4px gray;
  padding:.01rem;
  height: 1.6rem;;

}

.experience-frame, .education-frame {
    display: flex;
    flex-direction: column;
   
    /* align-items: center; */
    justify-content: space-evenly;
  
}

.experience-frame .inputs:nth-child(odd){
  background-color: skyblue;
}
 .experience-frame .inputs:nth-child(even){
  background-color: rgb(212, 230, 238);
  
}

.education-frame .inputs:nth-child(odd){
  background-color: #9ff59f
}
 .education-frame .inputs:nth-child(even){
  background-color: #dbfcdb
  
}



.hidden{
  visibility: hidden;
  display: none;
}

.finsihed-inputs{
  display: flex;
}


.cv-header{
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
}

.back-edit, .final-edit{
  margin:0;
  padding: 0;
  background-color: none;
  
}