#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px gray solid;
}

.info-cell>p{
  background-color: red;
  width: .5rem;
  padding: .5rem;
  color: green;
}


button{
  background-color: cornflowerblue;
  box-shadow: 2px 2px 2px;

}

button:active{
  transform:translate(1px, 1px);
  outline: none;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.info-row {
  width: 100%;
    display: flex;
    line-height: 0;
    
    height: 2rem;
    

    /* align-items: center; */
    justify-content: space-between;
    /* background-color: lightskyblue; */
}


.info-cell{
  display: flex;
  /* background-color: lightskyblue; */
  width: 33%;
  justify-items: flex-start;
  padding-left: 1rem;
  
  
}

.info-cell>h4, .info-cell>h5, .info-cell>p{
  padding: 0;
  line-height: 0;
  align-self: center;
}

.delete-button{
 border: none;
  box-shadow: 1px 1px 4px gray;
  padding:.01rem;
  height: 1.6rem;
  background-color: none !important;
}



.delete-button:nth-child(even)>{

  color: white;
  border: none;
  box-shadow: 1px 1px 4px gray;
  padding:.01rem;
  height: 1.6rem;;

}

.experience-frame, .education-frame {
    display: flex;
    flex-direction: column;
   
    /* align-items: center; */
    justify-content: space-evenly;
  
}

.experience-frame .inputs:nth-child(odd){
  background-color: skyblue;
}
 .experience-frame .inputs:nth-child(even){
  background-color: rgb(212, 230, 238);
  
}

.education-frame .inputs:nth-child(odd){
  background-color: #9ff59f
}
 .education-frame .inputs:nth-child(even){
  background-color: #dbfcdb
  
}

p{
  background-color: red;
  width: .5rem;
}

.hidden{
  visibility: hidden;
  display: none;
}

.finsihed-inputs{
  display: flex;
}